/* ==========================================================================
   Variables
   ========================================================================== */

// Defining breakpoints
$medium: 620px !default;
$wide: 800px !default;
$huge: 1600px !default;
$mediumContainer: 688px !default;
$wideContainer: 864px !default;

// Colors
//
// This section describes base colors
//
// Styleguide 1.0

// Main colors
//
// $blue - Blue color
// $blueSecondary - Secondary blue color
// $green - Green color
// $greenSecondary - Secondary green color
// $red - Red color
// $redSecondary - Secondary red color
// $yellow - Yellow color
// $yellowSecondary - Secondary yellow color
// $gray - Gray color
// $grayLight - Light gray color
// $grayDark - Dark gray color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$blue: #3372df;
$blueSecondary: lighten($colorBlue, 30%);
$green: #0f9d58;
$greenSecondary: lighten($colorGreen, 30%);
$red: #cb4437;
$redSecondary: lighten($colorRed, 30%);
$yellow: #f4b400;
$yellowSecondary: lighten($colorYellow, 20%);
$gray: #737373;
$grayLight: #eeeeee;
$grayDark: #404040;

$colorText: $grayDark;
$colorHighlight: $blue;
$colorWarning: $yellowSecondary;
$colorMuted: $gray;
$colorDanger: $red;

// Defining font family
$fontDefault: Helvetica, Arial, sans-serif !default;
$fontHighlight: 'Roboto Condensed', Helvetica, sans-serif !default;

// Defining baseline line height
$lineHeight: 26px !default;

// Defining animation easings
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;
