/* ==========================================================================
   Variables
   ========================================================================== */

// Grid System
$susy: (
    columns: 12,
    gutters: (2/3),
    math: fluid,
    outoput: float,
    gutter-position: inside,
    global-box-sizing: border-box,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    ),
);

$gallery_layout: layout(12 0 fluid float inside);
$nav_layout: layout(12 0 fluid float inside);

// Defining breakpoints
@mixin breakpoint($point) {
    @if $point == largeScreen {
        @media (min-width: 90em) { @content ; }
    }
    @if $point == desktop {
        @media (min-width: 70em) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: 64em) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 50em) { @content ; }
    }
    @else if $point == phablet {
        @media (min-width: 37.5em)  { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: 37.5em)  { @content ; }
    }
}

// Colors and Typography
//
// This section describes base colors and typography
//
// Styleguide 1.0

// Main colors
//
// $blue - Blue color
// $green - Green color
// $red - Red color
// $yellow - Yellow color
// $gray - Gray color
// $grayLight - Light gray color
// $grayDark - Dark gray color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$blue: #3372df;
$blueSecondary: lighten($blue, 40%);
$green: #0f9d58;
$greenSecondary: lighten($green, 30%);
$red: #cb4437;
$redSecondary: lighten($red, 30%);
$yellow: #f4b400;
$yellowSecondary: lighten($yellow, 20%);
$white: white;
$gray: #737373;
$grayLight: #eeeeee;
$grayDark: #404040;

$colorText: $grayDark;
$colorHighlight: $blue;
$colorWarning: $yellowSecondary;
$colorMuted: $gray;
$colorDanger: $red;

// Calculated colors
//
// .blueSecondary - Secondary blue color
// .greenSecondary - Secondary green color
// .redSecondary - Secondary red color
// .yellowSecondary - Secondary yellow color
//
// markup:
// <div class="styleguide-color {$modifiers}"></div>
//
// Styleguide 1.1.1

$blueSecondary: lighten($blue, 40%);
.blueSecondary { background-color: $blueSecondary; }

$greenSecondary: lighten($green, 30%);
.greenSecondary { background-color: $greenSecondary; }

$redSecondary: lighten($red, 30%);
.redSecondary { background-color: $redSecondary; }

$yellowSecondary: lighten($yellow, 20%);
.yellowSecondary { background-color: $yellowSecondary; }

// Defining font family
$fontDefault: 'Open Sans', Helvetica, Arial, sans-serif;
$fontHeader: 'PT Serif', Georgia, serif;

// Defining font weight
$fontWeight: normal;
$fontWeightBold: 900;
$fontHeaderWeight: 700;

// Defining baseline line height
$lineHeight: 1.5;

// Defining animation easings
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

// Base spacing
$baseSpacing: 1.5rem;

// Buttons
$colorBtn: $grayLight;
$colorBtn--hover: lighten($grayLight, 5%);
$colorBtnText: $grayDark;
$colorBtnText--hover: $grayDark;
$colorBtnBorder: $grayLight;
$borderBtnWidth: .1rem;
$borderBtnBorderRadius: .1rem;

// Border
$borderWidth: .1rem;
