/* ==========================================================================
   About section
   ========================================================================== */

.about {
    border-bottom: 0.1rem solid darken($grayLight, 2.5%);
    background: $grayLight;
}

.about__wrapper {
    @extend .push-double;
}

.about__text h2 {
    @extend .yotta;
    margin-top: 0;
}

.about__img {
    text-align: center;
    margin: 0;
    img {
        max-width: 250px;
        border: ($borderWidth * 2) solid $colorHighlight;
        border-radius: 50%;

        @include breakpoint(phablet) {
            max-width: inherit;
        }
    }
}

/*
   Skills
   ========================================================================== */

.skill-wrap {
    height: 100%;
    margin-bottom: $baseSpacing;
    padding: ($baseSpacing * 0.5) ($baseSpacing * 0.25);
    background: lighten($grayLight, 3%);
    border: ($borderWidth * 2) solid $white;
    @include breakpoint(mobileonly) {
        margin-bottom: $baseSpacing;
    }
    @include breakpoint(tablet) {
        padding: ($baseSpacing * 0.25) ($baseSpacing * 0.5);
    }
    .icn {
        width: 100%;
        margin-top: $baseSpacing;
    }
}
