/* ==========================================================================
   About section
   ========================================================================== */

.about {
    background: $grayLight;
    border-top: .1rem solid darken($grayLight, 2.5%);
    border-bottom: .1rem solid darken($grayLight, 2.5%);
}

.about__img {
    margin: 0;
    text-align: center;

    img {
        max-width: 200px;
        border-radius: 50%;
        border: .2rem solid $white;

        @include breakpoint(phablet) {
            max-width: inherit;
        }
    }
}
