/* ==========================================================================
   Footer
   ========================================================================== */

.social-wrap {
    text-align: center;
    background: $blue;
}

.social {
    @extend .listInline;
    display: block;
    li {
        text-align: center;
    }
    li a {
        @extend %transition-default;
        text-align: middle;
        vertical-align: middle;
        display: inline-block;
        padding: $baseSpacing * 0.5;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            opacity: 0.75;
        }
    }
    svg {
        width: 25px;
        height: 25px;

        fill: $white;
    }
}

.thanks {
    @extend .pull-double;
    @extend .pad-top-double;
    @extend .pad-bottom-double;
    text-align: center;
    border-top: $borderWidth solid $blue;
    border-bottom: $borderWidth solid lighten($blue, 15%);
    background: lighten($blue, 10%);
    .zetta {
        display: block;
        margin-bottom: $baseSpacing;
        color: $white;
    }
    a.btn {
      margin-top: $baseSpacing;
    }
}

