/* ==========================================================================
   Intro - Landing area
   ========================================================================== */

.intro {
    position: absolute;
    top: 0;
    bottom: 0;
    display: table;
    width: 95%;
    max-width: none;
    height: 95vh;
    margin: 2.5vh 2.5% 2.5vh 2.5%;
    background: url(../img/bg-tools.jpg) no-repeat center center fixed;
    background-color: $grayDark;
    background-size: cover;

    .hgroup {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        height: 100%;
        padding: ($baseSpacing * 10) 0;
        padding: 0% 20%;

        h1, h2 {
            color: $white;
        }

        .normal {
            font-size: 1.8rem;
        }
    }
}


