/* ==========================================================================
   Intro - Landing area
   ========================================================================== */

.intro {

    display: table;
    width: 95%;
    max-width: none;
    height: 95vh;
    margin: 2.5vh 2.5% 2.5vh 2.5%;
    background: url(../img/bg-tools.jpg) no-repeat center center fixed;
    background-color: $grayDark;
    background-size: cover;

    .hgroup {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        height: 100%;
        padding: ($baseSpacing * 10) 0;
        padding: 0% 20%;

        h1, h2 {
            color: $white;
        }

        .normal {
            font-size: 1.8rem;
        }
    }

    .downArrow {
        margin-top: $baseSpacing;
        color: $white;
        text-decoration: none;
        font-size: 2rem;
        border: .2rem solid $white;

        border-radius: 50%;
        padding: 0 .75rem;

    }
}


.projects {
    @include container(100%);

    > ul {
        list-style-type: none;
        padding: 0;

        li {
     @include gallery((2 of 4));
     @include gutters(0);

        }
    }
}

