/* ==========================================================================
   Main Navigation
   ========================================================================== */

.mainNav {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}

.navbar {
    transition: all .5s ease-in-out;

    .logo,
    .nav-item {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        color: $white;
        transition: all 0.5s ease-in-out;
    }

    .nav-item {
        padding: ($baseSpacing * .5) 0;

        @include breakpoint(phablet){
            padding: ($baseSpacing * 2) 0;
        }
    }

    .logo {
        text-align: center;
        margin-top: $baseSpacing * .5;

        @include breakpoint(phablet){
            padding-top: 0;
        }

        .icn-logo {
            width: 40px;
            height: 40px;
            fill: $white;
            stroke: $white;

             @include breakpoint(phablet){
                width: 50px;
                height: 50px;
             }
        }

        @include breakpoint(phablet) {
            text-align: left;
            padding-top: $baseSpacing * 2;
        }
    }

    > ul li {

        a {
            text-align: center;

            &:hover {
                background: rgba(255, 255, 255, 0.25);
            }
        }
    }
}


/*
   Header animation on scroll
   ========================================================================== */

.js-navbar.scrollNav {
    background: $white;
    border-bottom: .2rem solid $blue;

    .logo,
    .nav-item {
        color: $blue;
        padding: ($baseSpacing * .5) 0;

        @include breakpoint(phablet) {
             padding: $baseSpacing 0;
        }

    }

    .brand {
       position: absolute;
       top: -10rem;

       .icn-logo {
            fill: $blue;
            stroke: $blue;
       }

       @include breakpoint(phablet) {
            position: inherit;
       }
    }
}

