/* ==========================================================================
   Process
   ========================================================================== */

.career__wrap {
    background: lighten($grayLight, 3%);
    border: $borderWidth solid $grayLight;
    padding: $baseSpacing;
    margin-bottom: $baseSpacing;

    .btn {
        background: $blue;
        color: $white;
        border-color: $blue;
    }

    @include breakpoint(tablet) {
        .methods {
            column-count: 2;
            column-gap: $baseSpacing * 2;
        }
    }

    h2 {
        @extend .yotta;
        margin-top: 0;
    }
}

.what-is__wrap {
    padding: $baseSpacing;
    border: ($borderWidth * 2) solid $blue;
    background-image: url("../img/bg-whatis--small.jpg");
    background-size: cover;
    color: $white;

    @include breakpoint(tablet) {
        background-image: url("../img/bg-whatis.jpg");
    }

    h3 {
        color: $white;
    }
}
