/* ==========================================================================
   Layout - Main layout file
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

main {
    @include container;
}

.section {
    @extend .pad-bottom-double;
    @include full;
    @extend .clearfix;
    position: relative;
    clear: both;
}
